@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

h3 {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 5px solid black;
  width: 500px;
  height: 450px;
}

.black {
  background-color: black;
  width: 10px;
  color: white;
  text-align: center;
  font-size: 10px;
}
.white {
  color: black;
  text-align: center;
  font-size: 10px;
}

.chess {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
